fastapi[all]
uvicorn
websockets
python-dotenv
pypdf
docx2txt
faiss-cpu
langchain
langchain-community
langchain-openai
groq
langchain-text-splitters
langgraph
openai
tiktoken
huggingface-hub
supabase
langchain-groq
langchain-huggingface